{% macro metric(value, title) %}
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">{{ value }}</h4>
            <p class="card-text">{{ title|transchoice(value) }}</p>
        </div>
    </div>
{% endmacro %}
{% import _self as macros %}

<div id="modal-project-score" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Project Score</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    This synthetic score measures the size of the project. It depends on the
                    number of routes, services, etc. defined by your project. It doesn't
                    measure the complexity of your project or the quality of its code.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="card-deck">
    <div class="card card-score">
        <div class="card-block">
            <h4 class="card-title">{{ project_score|number_format }}</h4>
            <p class="card-text">
                Project Score
                <br>
                <a href="#" data-toggle="modal" data-target="#modal-project-score">What's this?</a>
            </p>
        </div>
    </div>
</div>

<div class="card-deck">
    {{ macros.metric(routes|length, 'routes') }}
    {{ macros.metric(entitiesSummary, 'entities') }}
    {{ macros.metric(services|length, 'services') }}
    {{ macros.metric(bundles|length, 'bundles') }}
    {{ macros.metric(packages|length, 'dependencies') }}
</div>
