<h1 class="page-title">Routes</h1>

{% for route in routes %}
    <table id="route-{{ route.name }}" class="table">
        <thead>
            <tr>
                <th colspan="2">
                    <h3 class="anchored" id="route-{{ route.name }}">
                        {{ route.name }}
                    </h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th rowspan="2">Path</th>
                <td>{{ route.path }}</td>
            </tr>
            <tr>
                <td><b>RegExp.</b> {{ route.path_regex }}</td>
            </tr>
            <tr>
                <th rowspan="{{ route.host_regex ? '2' : '1' }}">Host</th>
                <td>{{ route.host }}</td>
            </tr>
            {% if route.host_regex %}
            <tr>
                <td><b>Host RegExp.</b> {{ route.host_regex }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>HTTP Methods</th> <td>
                    {% for method in route.http_methods %}
                        <span class="badge">{{ method }}</span>
                    {% else %}
                        (any)
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>HTTP Schemes</th> <td>
                    {% for scheme in route.http_schemes %}
                        <span class="badge">{{ scheme }}</span>
                    {% else %}
                        (any)
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Defaults</th> <td>
                    <ul class="unstyled">
                    {% for key, value in route.defaults %}
                        <li><b>{{ key }}</b>: {{ value }}</li>
                    {% else %}
                        (none)
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>PHP Class</th> <td>{{ route.php_class }}</td>
            </tr>
        </tbody>
    </table>
{% endfor %}
